.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-style: normal;
}

/* shared sttyles */
.dark1 {
    color: rgb(13, 19, 33);
    font-weight: 800;
    font-size: 32px;
    text-align: center;
}

.dark2 {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.dark3 {
    font-size: 24px;
    font-weight: 700;
    color: rgba(13, 19, 33, 0.7);
}

.primary-btn {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    opacity: 0.7;
    font-size: 20px;
    font-weight: 600;
    padding: 20px;
}

.secondary-btn {
    color: rgb(13, 19, 33);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
    border: none;
}

.header {
    background-image: url(../assets/Hero-bg.png);
    background-repeat: no-repeat;
    background-position: center;
}

/* banner styles */
.banner {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 26px 221px 44px 221px;
    text-align: center;
}

.banner-title {
    font-size: 48px;
    font-weight: 800;
    color: rgb(13, 19, 33);
}

.first-button {
    border-radius: 8px;
    background-color: rgb(13, 19, 33);
    color: white;
    padding: 21px 24px;
    font-weight: 600;
    margin: 32px 0px;
}

.banner-profile-pic {
    width: 240px;
    height: 240px;
}

.banner-content {
    max-width: 998px;
    height: 310px;
}

/* main function */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.about {
    padding: 80px 97px;
    border-radius: 16px;

}

.first-section {
    border-radius: 16px;
    background: rgba(13, 19, 33, 0.02);
    padding: 80px 97px;
}

.section-title {
    position: static;
    margin: 48px 0px;
}

.section-description {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}


.why-dev {
    margin: 47px;
    padding: 0px;
}

.change-the-world {
    display: flex;
    flex-direction: left;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: left;
    padding: 48px;
}

.abc {
    margin-right: 100px;
}

.modern-web-system {
    display: flex;
    flex-direction: left;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 32px 10.5px 101px 9.5px;
}

.img-padd {
    margin-right: 48.8px;
}

.def {
    margin-right: 101px;
}

/* My inspiration part */
.Inspiration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 0px;
    margin: 88px 144px 48px 144px;
}

.Inspiration-title {
    position: static;
    width: 852px;
    height: 115px;
}

.box-video {
    position: static;
    width: 1140px;
    height: 614px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 32px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.2);
    border-radius: 16px;
    margin: 48px 0px;

}


/* My Current Target styles */
.current-target {}

.current-target-title {
    width: 852px;
    height: 115px;
    align-items: center;
    padding: 0px;
}

.head {
    margin-bottom: 24px;
}

.skills-container {
    display: flex;
    flex-direction: left;
    gap: 24px;
    padding: 40px;
}


.html-box {
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 76, 30, 0.05);
}

.css-box {
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(0, 76, 232, 0.05);
}

.js-box {
    width: 364px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px;
    border-radius: 16px;
    background: rgba(255, 223, 0, 0.05);
}

.btn {
    margin: 24px 0px;
}

/* I need support */
.frame-8 {
    width: 1140px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 64px 48px 64px 48px;
    border-radius: 16px;
}

.frame-9 {
    background-image: url(../assets/handshake.jpg);
    background-position: center;
    background-repeat: no-repeat;
}

.frame-title {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0%;
    text-align: center;
    margin: 16px 0px;
}

.frame-description {
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
    margin: 16px 0px;
}

.frame-23{
    display: flex;
    flex-direction: row;
}

.frame-7 {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    margin: 0px 16px;
    padding: 19px 20px;
}

.submit-btn {
    width: 120px;
    height: 58px;
    border-radius: 8px;
    margin: 0px 16px;
    padding: 17px 20px;
    background: rgb(255, 255, 255);
}